* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1140px;
  }
}
.header {
  position: relative;
  overflow: hidden;
  min-height: 550px;
}

#menu {
  display: none;
}
#menu:checked ~ .header-nav {
  right: 0;
}

.header-lab {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 25px;
  color: #555252;
  z-index: 30;
}

@media only screen and (min-width: 1024px) {
  .header-lab {
    display: none;
  }
}
.header-nav {
  position: absolute;
  width: 100%;
  top: 70px;
  right: -100%;
  background-color: #24282e;
  min-height: 450px;
  transition: 0.8s;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    width: 40%;
    height: 100%;
    top: 0;
    padding-top: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav {
    position: static;
    width: 100%;
    min-height: 30%;
    padding-top: 0;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-nav-el {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 18px;
}
.header-nav-el a {
  text-decoration: none;
  line-height: 1;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
}

@media only screen and (min-width: 1024px) {
  .header-nav-el {
    margin-top: 0;
    flex-direction: row;
    gap: 20px;
  }
}
#block {
  display: none;
}
#block:checked ~ .header-nav-block-list {
  height: 140px;
}

.header-nav-block-lab {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 25px;
  color: #fff;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .header-nav-block-lab {
    padding-top: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav-block-lab {
    display: none;
  }
}
.header-nav-block-list {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  transition: 0.8s;
  margin-top: 20px;
}
.header-nav-block-list li {
  list-style: none;
}
.header-nav-block-list a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-nav-block-list {
    height: auto;
    flex-direction: row;
    margin-top: 0;
    gap: 40px;
  }
  .header-nav-block-list a {
    text-transform: capitalize;
  }
}
.header-nav-block-list-el {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.header-nav-block-list-el li {
  list-style: none;
}
.header-nav-block-list-el a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-nav-block-list-el {
    position: absolute;
    top: 87px;
    flex-direction: row;
    gap: 40px;
    text-align: right;
    left: 50%;
    transform: translateX(-22%);
    flex-wrap: nowrap;
    width: 800px;
  }
  .header-nav-block-list-el a {
    color: #24282e;
    font-weight: bold;
  }
}
.header-header-nav-block-search {
  position: relative;
  width: 100%;
}

#fotcheck {
  display: none;
}
#fotcheck:checked ~ .header-header-nav-block-search-el {
  right: 0;
}

.header-header-nav-block-search-lab {
  font-size: 20px;
  color: #fff;
  position: absolute;
  z-index: 5;
  right: 5px;
  bottom: -32px;
}

@media only screen and (min-width: 768px) {
  .header-header-nav-block-search-lab {
    right: -20px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-header-nav-block-search-lab {
    color: #24282e;
    right: 0;
    bottom: -70px;
  }
}
.header-header-nav-block-search-el {
  position: absolute;
  right: -900%;
  transition: 0.5s;
  bottom: -30px;
}

#search {
  border: 1px solid #000;
  padding: 3px;
  position: absolute;
  transform: translateX(-50%);
  right: 50%;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  #search {
    transform: translateX(-18%);
  }
}
@media only screen and (min-width: 1024px) {
  #search {
    bottom: -60px;
  }
}
.header-logo-el a {
  text-decoration: none;
}
.header-logo-el a i {
  font-size: 40px;
  color: #e34b11;
}
.header-logo-el a span {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto";
  font-weight: 300;
}

.header-logo {
  text-align: left;
  padding: 10px 0 0 5px;
  height: 70px;
}

@media only screen and (min-width: 1024px) {
  .header-logo {
    height: 90px;
  }
}
.header-inner {
  background: linear-gradient(rgba(24, 21, 25, 0.8), rgba(24, 21, 25, 0.8)), url(../images/header_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 20px 5px;
  margin-top: 18px;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slider-block {
  min-width: 300px;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .slider-block {
    margin-top: 30px;
    padding: 100px 0;
  }
}
.swiper-button-prev {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .swiper-button-prev {
    display: block;
  }
}
.swiper-button-next {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .swiper-button-next {
    display: block;
  }
}
.header-inner-el-info-nav {
  line-height: 40px;
}
.header-inner-el-info-nav h3 {
  color: #ff6600;
  font-size: 30px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
}
.header-inner-el-info-nav h3:nth-child(2) {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .header-inner-el-info-nav {
    line-height: 70px;
  }
  .header-inner-el-info-nav h3 {
    font-size: 50px;
  }
}
.header-inner-el-info-text p {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 25px;
}

.header-inner-el-info-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  text-transform: capitalize;
  background-color: #ff6600;
  padding: 10px 20px;
  display: inline-block;
}

.about {
  min-height: 400px;
  overflow: hidden;
  padding: 20px 10px;
}

.about-block h3 {
  font-size: 30px;
  color: #555252;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  text-align: center;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .about-block {
    margin: 100px 0;
  }
  .about-block h3 {
    font-size: 60px;
  }
}
.about-block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  line-height: 80px;
}
.about-block-info i {
  font-size: 70px;
}
.about-block-info h3 {
  font-size: 18px;
  color: #555252;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
}
.about-block-info p {
  font-size: 14px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.about-block-info:hover .about-block-info-icon {
  border: 2px solid #ff6600;
}
.about-block-info:hover .pe-7s-medal {
  color: #ff6600;
}
.about-block-info:hover .pe-7s-id {
  color: #ff6600;
}
.about-block-info:hover .pe-7s-micro {
  color: #ff6600;
}
.about-block-info:hover .pe-7s-video {
  color: #ff6600;
}
.about-block-info:hover h3 {
  color: #ff6600;
}

.about-block-info-icon {
  color: #555252;
  margin: 0 auto;
  font-size: 70px;
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
}

.pe-7s-medal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-7s-id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-7s-micro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-7s-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest {
  min-height: 400px;
  overflow: hidden;
  background: url("../images/courses_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 60px 0;
}

@media only screen and (min-width: 1024px) {
  .latest {
    padding: 150px 0;
  }
}
.latest-nav {
  margin-bottom: 30px;
}
.latest-nav h3 {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  flex-basis: 100%;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .latest-nav h3 {
    font-size: 60px;
  }
}
.latest-info {
  margin: 0 auto;
}

.latest-info-nav {
  position: relative;
}
.latest-info-nav img {
  max-width: 100%;
}

.latest-info-nav:hover .latest-info-nav-el {
  display: block;
}

.latest-info-nav-el {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(24, 21, 25, 0.8);
}
.latest-info-nav-el a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

.latest-info-block-nav h3 {
  font-size: 22px;
  color: #555252;
  font-family: "Open Sans";
  text-transform: capitalize;
  font-weight: 600;
}

.latest-info-block {
  background-color: #fff;
  padding: 15px;
}

.latest-info-block-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.latest-info-block-text span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.latest-info-block-text span i {
  font-size: 14px;
  color: #555252;
}
.latest-info-block-text span p {
  font-size: 14px;
  color: #555252;
  font-family: "Open Sans";
  text-transform: capitalize;
}

.latest-info-block-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.latest-info-block-link a {
  text-decoration: none;
  background-color: #ff6600;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 5px;
  border-radius: 5px;
  flex-basis: 45%;
  text-align: center;
}
.latest-info-block-link a:hover {
  background-color: #fff;
  color: #ff6600;
  border: 1px solid #ff6600;
}

.gallery {
  min-height: 400px;
  overflow: hidden;
  padding: 60px 0;
}

@media only screen and (min-width: 1024px) {
  .gallery {
    padding: 150px 0;
  }
}
.gallery-nav {
  margin-bottom: 30px;
}
.gallery-nav h3 {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  flex-basis: 100%;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .gallery-nav h3 {
    font-size: 60px;
  }
}
.gallery-info {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.gallery-info img {
  max-width: 100%;
}
.gallery-info:hover .gallery-info-el {
  display: block;
}

.gallery-info-el {
  padding: 100px 0;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 21, 25, 0.8);
  z-index: 3;
}

.gallery-info-el-block {
  line-height: 30px;
  padding: 10px 8px 0 8px;
  border: 1px solid #fff;
  font-size: 40px;
  color: #fff;
  display: inline-block;
}
.gallery-info-el-block:hover {
  background-color: #ff6600;
}

.gallery-info-el-block-el {
  margin-bottom: 5px;
}

.video {
  background-color: #3b3b3b;
  padding: 20px 0;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .video {
    padding: 50px 0 35px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .video {
    padding: 150px 0 55px 0;
  }
}
.video-inner {
  display: flex;
  justify-content: center;
}
.video-inner img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .video-inner img {
    display: block;
    width: 700px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}
@media only screen and (min-width: 1024px) {
  .video-inner img {
    width: 1050px;
    height: 600px;
  }
}
.video-inner-vd {
  max-width: 100%;
  height: auto;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .video-inner-vd {
    width: 515px;
    height: 300px;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .video-inner-vd {
    width: 770px;
    height: 485px;
  }
}
.tea {
  min-height: 400px;
  overflow: hidden;
}

.tea-nav {
  text-align: center;
  margin: 60px 0;
}
.tea-nav h3 {
  color: #555252;
  font-size: 30px;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .tea-nav h3 {
    font-size: 60px;
  }
}
.tea-info {
  display: flex;
  justify-content: center;
  position: relative;
}
.tea-info img {
  max-width: 100%;
}
.tea-info:hover .tea-info-link {
  display: block;
}

.tea-info-link {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  background-color: rgba(208, 84, 37, 0.8);
  text-align: center;
  line-height: 40px;
  transition: 0.8s;
}
.tea-info-link p {
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}

.tea-info-link-el a {
  text-decoration: none;
}
.tea-info-link-el a span {
  width: 40px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 7px;
}
.tea-info-link-el a span i {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.our {
  min-height: 400px;
  overflow: hidden;
  background-color: #f2f2f2;
  margin: 30px 0;
  padding: 50px 0;
}

@media only screen and (min-width: 1024px) {
  .our {
    padding: 150px 0;
  }
}
.our-nav h3 {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .our-nav h3 {
    font-size: 60px;
  }
}
.our-info {
  position: relative;
  background-color: #fff;
  text-align: center;
  margin-top: 60px;
  border: 1px dashed #e34b11;
}
.our-info img {
  max-width: 100%;
  height: 145px;
  margin: 0 auto;
  z-index: 5;
}
.our-info:hover .our-info-block {
  display: block;
}

.our-info-block {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 21, 25, 0.8);
}

.our-info-block-el::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 1px;
  z-index: 6;
}

.our-info-block-el::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #fff;
  width: 2px;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .news {
    padding: 120px 0;
  }
}
#news1 {
  display: none;
}

#news2 {
  display: none;
}

#news3 {
  display: none;
}

#news4 {
  display: none;
}

#news5 {
  display: none;
}

#news6 {
  display: none;
}

#news7 {
  display: none;
}

.news-inner-block-contact {
  height: 0;
  transition: 0.8s;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.acc-in:nth-child(1):checked ~ .acc label:nth-child(1) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(1):checked ~ .acc label:nth-child(1) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(2):checked ~ .acc label:nth-child(2) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(2):checked ~ .acc label:nth-child(2) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(3):checked ~ .acc label:nth-child(3) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(3):checked ~ .acc label:nth-child(3) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(4):checked ~ .acc label:nth-child(4) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(4):checked ~ .acc label:nth-child(4) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(5):checked ~ .acc label:nth-child(5) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(5):checked ~ .acc label:nth-child(5) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(6):checked ~ .acc label:nth-child(6) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(6):checked ~ .acc label:nth-child(6) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

.acc-in:nth-child(7):checked ~ .acc label:nth-child(7) .news-lab-el {
  background: #e34b11;
}
.acc-in:nth-child(7):checked ~ .acc label:nth-child(7) .news-inner-block-contact {
  height: 160px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .news-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.news-inner-nav {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}

@media only screen and (min-width: 1024px) {
  .news-inner-nav {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .news-inner-nav {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .news-inner-block {
    flex-basis: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .news-inner-block {
    flex-basis: 28%;
  }
}
.news-inner-block-nav h3 {
  font-size: 30px;
  color: #575451;
  font-family: "Roboto";
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 25px;
}

.news-lab-el {
  min-width: 304px;
  height: 53px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #7d7d7e;
  text-align: center;
  position: relative;
  border: 1px solid #7d7d7e;
  border-radius: 3px;
  margin: 1px 0;
}
.news-lab-el:hover {
  background-color: #e34b11;
  border: none;
}
.news-lab-el i {
  background: url(..//images/accordion-el.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 3;
  position: absolute;
  left: 40px;
  top: 10px;
}
.news-lab-el p {
  font-size: 18px;
  color: #fff;
  font-family: "Roboto";
  text-transform: capitalize;
}

.news-inner-block-contact-el {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-inner-block-contact-el-nav span {
  font-size: 18px;
  color: #555252;
  font-family: "Roboto";
  text-transform: capitalize;
  font-weight: 700;
}
.news-inner-block-contact-el-nav p {
  font-size: 18px;
  color: #555252;
  font-family: "Roboto";
  text-transform: capitalize;
}

.news-inner-block-contact-el-text p {
  font-size: 14px;
  color: #555252;
  font-family: "Roboto";
  line-height: 20px;
}

.slider-news {
  margin: 60px 0;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .slider-news {
    margin: 0;
    flex-basis: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-news {
    flex-basis: 68%;
  }
}
.slider-news-nav h3 {
  font-size: 30px;
  color: #575451;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.slider-news-info-img img {
  max-width: 100%;
}
.slider-news-info-img p {
  font-size: 14px;
  color: #575451;
  font-family: "Roboto";
  text-transform: capitalize;
  margin: 10px 0;
}
.slider-news-info-img span {
  font-size: 18px;
  color: #575451;
  font-family: "Roboto";
  line-height: 30px;
  font-weight: 700;
}

.slider-news-info-text p {
  font-size: 14px;
  color: #575451;
  font-family: "Open Sans";
  line-height: 30px;
  margin: 10px 0;
}
.slider-news-info-text a {
  text-decoration: none;
}
.slider-news-info-text a span {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
  text-transform: capitalize;
  text-align: center;
  background-color: #e34b11;
  border-radius: 3px;
  width: 160px;
  padding: 18px 0;
  display: block;
}

.footer {
  background-color: #2d3237;
  padding: 60px 0;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-inner-block-1 {
  flex-basis: 100%;
}

.footer-inner-block-2 {
  flex-basis: 100%;
}

.footer-inner-block-3 {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-inner-block-1 {
    flex-basis: 45%;
  }
}
@media only screen and (min-width: 768px) {
  .footer-inner-block-2 {
    flex-basis: 45%;
  }
}
@media only screen and (min-width: 768px) {
  .footer-inner-block-3 {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-inner-block-1 {
    flex-basis: 32%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-inner-block-2 {
    flex-basis: 32%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-inner-block-3 {
    flex-basis: 32%;
  }
}
.footer-inner-block-1-nav {
  position: relative;
}
.footer-inner-block-1-nav h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-inner-block-1-nav span {
  width: 185px;
  height: 3px;
  background-color: #e34b11;
  z-index: 2;
  position: absolute;
  top: 50px;
}

.footer-inner-block-1-text {
  margin-top: 60px;
}
.footer-inner-block-1-text p {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
  line-height: 24px;
}

.footer-inner-block-1-link {
  display: flex;
  gap: 5px;
  margin-top: 30px;
}
.footer-inner-block-1-link a {
  text-decoration: none;
  width: 45px;
  padding: 8px 0;
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}
.footer-inner-block-1-link a span {
  font-size: 25px;
  color: #fff;
}

.footer-inner-block-2-nav {
  position: relative;
  margin-top: 30px;
}
.footer-inner-block-2-nav h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-inner-block-2-nav span {
  width: 185px;
  height: 3px;
  background-color: #e34b11;
  z-index: 2;
  position: absolute;
  top: 50px;
}

@media only screen and (min-width: 768px) {
  .footer-inner-block-2-nav {
    margin-top: 0;
  }
}
.footer-inner-block-2-hours {
  margin-top: 60px;
}

.footer-inner-block-2-hours-el {
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  position: relative;
}
.footer-inner-block-2-hours-el p {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
  text-transform: capitalize;
}
.footer-inner-block-2-hours-el span {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
  text-transform: capitalize;
}

.footer-inner-block-2-hours-el-pos {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 2;
}

.footer-inner-block-3-nav {
  position: relative;
  margin-top: 30px;
}
.footer-inner-block-3-nav h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-inner-block-3-nav span {
  width: 185px;
  height: 3px;
  background-color: #e34b11;
  z-index: 2;
  position: absolute;
  top: 50px;
}

@media only screen and (min-width: 768px) {
  .footer-inner-block-3-nav {
    margin-top: 0;
  }
}
.footer-inner-block-3-mes {
  margin-top: 60px;
}

.footer-inner-block-3-mes-name input {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: 1px solid #fff;
  padding: 12px 15px;
  font-family: "Open Sans";
  outline: none;
  margin-bottom: 15px;
}
.footer-inner-block-3-mes-name input::-moz-placeholder {
  color: #fff;
}
.footer-inner-block-3-mes-name input:-ms-input-placeholder {
  color: #fff;
}
.footer-inner-block-3-mes-name input::placeholder {
  color: #fff;
}

.footer-inner-block-3-mes-phone input {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: 1px solid #fff;
  padding: 12px 15px;
  font-family: "Open Sans";
  outline: none;
  margin-bottom: 15px;
}
.footer-inner-block-3-mes-phone input::-moz-placeholder {
  color: #fff;
}
.footer-inner-block-3-mes-phone input:-ms-input-placeholder {
  color: #fff;
}
.footer-inner-block-3-mes-phone input::placeholder {
  color: #fff;
}

.footer-inner-block-3-mes-sms input {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: 1px solid #fff;
  padding: 30px 15px;
  font-family: "Open Sans";
  outline: none;
  margin-bottom: 15px;
  position: relative;
}
.footer-inner-block-3-mes-sms input::-moz-placeholder {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.footer-inner-block-3-mes-sms input:-ms-input-placeholder {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.footer-inner-block-3-mes-sms input::placeholder {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footer-inner-block-3-mes-sub a {
  text-decoration: none;
  background-color: #e34b11;
  display: inline-block;
  border: 1px solid #e34b11;
  border-radius: 3px;
  padding: 12px;
  width: 145px;
  text-align: center;
}
.footer-inner-block-3-mes-sub a span {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
  text-transform: capitalize;
}

.all {
  background-color: #000;
  padding: 40px 0;
}

.all-inner {
  text-align: center;
}
.all-inner span {
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans";
  text-transform: capitalize;
}
.all-inner span:nth-child(2) {
  color: #e34b11;
}/*# sourceMappingURL=style.css.map */