* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1140px;
    overflow: hidden;
  }
}
.header {
  position: relative;
  overflow: hidden;
  min-height: 550px;
}

#menu {
  display: none;
}
#menu:checked ~ .header-nav {
  right: 0;
}

.header-lab {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 25px;
  color: #555252;
  z-index: 30;
}

@media only screen and (min-width: 1024px) {
  .header-lab {
    display: none;
  }
}
.header-nav {
  position: absolute;
  width: 100%;
  top: 70px;
  right: -100%;
  background-color: #24282e;
  min-height: 450px;
  transition: 0.8s;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    width: 40%;
    height: 100%;
    top: 0;
    padding-top: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav {
    position: static;
    width: 100%;
    min-height: 30%;
    padding-top: 0;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-nav-el {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 18px;
}
.header-nav-el a {
  text-decoration: none;
  line-height: 1;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
}

@media only screen and (min-width: 1024px) {
  .header-nav-el {
    margin-top: 0;
    flex-direction: row;
    gap: 20px;
  }
}
#block {
  display: none;
}
#block:checked ~ .header-nav-block-list {
  height: 140px;
}

.header-nav-block-lab {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 25px;
  color: #fff;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .header-nav-block-lab {
    padding-top: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-nav-block-lab {
    display: none;
  }
}
.header-nav-block-list {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  transition: 0.8s;
  margin-top: 20px;
}
.header-nav-block-list li {
  list-style: none;
}
.header-nav-block-list a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-nav-block-list {
    height: auto;
    flex-direction: row;
    margin-top: 0;
    gap: 40px;
  }
  .header-nav-block-list a {
    text-transform: capitalize;
  }
}
.header-nav-block-list-el {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.header-nav-block-list-el li {
  list-style: none;
}
.header-nav-block-list-el a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-nav-block-list-el {
    position: absolute;
    top: 87px;
    flex-direction: row;
    gap: 40px;
    text-align: right;
    left: 50%;
    transform: translateX(-22%);
    flex-wrap: nowrap;
    width: 800px;
  }
  .header-nav-block-list-el a {
    color: #24282e;
    font-weight: bold;
  }
}
.header-header-nav-block-search {
  position: relative;
  width: 100%;
}

#fotcheck {
  display: none;
}
#fotcheck:checked ~ .header-header-nav-block-search-el {
  right: 0;
}

.header-header-nav-block-search-lab {
  font-size: 20px;
  color: #fff;
  position: absolute;
  z-index: 5;
  right: 5px;
  bottom: -32px;
}

@media only screen and (min-width: 768px) {
  .header-header-nav-block-search-lab {
    right: -20px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-header-nav-block-search-lab {
    color: #24282e;
    right: 0;
    bottom: -70px;
  }
}
.header-header-nav-block-search-el {
  position: absolute;
  right: -900%;
  transition: 0.5s;
  bottom: -30px;
}

#search {
  border: 1px solid #000;
  padding: 3px;
  position: absolute;
  transform: translateX(-50%);
  right: 50%;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  #search {
    transform: translateX(-18%);
  }
}
@media only screen and (min-width: 1024px) {
  #search {
    bottom: -60px;
  }
}
.header-logo-el a {
  text-decoration: none;
}
.header-logo-el a i {
  font-size: 40px;
  color: #e34b11;
}
.header-logo-el a span {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto";
  font-weight: 300;
}

.header-logo {
  text-align: left;
  padding: 10px 0 0 5px;
  height: 70px;
}

@media only screen and (min-width: 1024px) {
  .header-logo {
    height: 90px;
  }
}
.header-inner {
  background: linear-gradient(rgba(24, 21, 25, 0.8), rgba(24, 21, 25, 0.8)), url(../images/header_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 20px 5px;
  margin-top: 18px;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slider-block {
  min-width: 300px;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .slider-block {
    margin-top: 30px;
    padding: 100px 0;
  }
}
.swiper-button-prev {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .swiper-button-prev {
    display: block;
  }
}
.swiper-button-next {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .swiper-button-next {
    display: block;
  }
}
.header-inner-el-info-nav {
  line-height: 40px;
}
.header-inner-el-info-nav h3 {
  color: #ff6600;
  font-size: 30px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 400;
}
.header-inner-el-info-nav h3:nth-child(2) {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .header-inner-el-info-nav {
    line-height: 70px;
  }
  .header-inner-el-info-nav h3 {
    font-size: 50px;
  }
}
.header-inner-el-info-text p {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 25px;
}

.header-inner-el-info-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  text-transform: capitalize;
  background-color: #ff6600;
  padding: 10px 20px;
  display: inline-block;
}

.about {
  min-height: 400px;
  overflow: hidden;
  padding: 20px 10px;
}

.about-block h3 {
  font-size: 30px;
  color: #555252;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  text-align: center;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .about-block {
    margin: 100px 0;
  }
  .about-block h3 {
    font-size: 60px;
  }
}
.about-block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 80px;
}
.about-block-info i {
  font-size: 70px;
}
.about-block-info h3 {
  font-size: 18px;
  color: #555252;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
}
.about-block-info p {
  font-size: 14px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.about-block-info-icon {
  color: #555252;
  margin: 0 auto;
  font-size: 70px;
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
}

.pe-7s-medal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.pe-7s-id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-7s-micro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-7s-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest {
  min-height: 400px;
  overflow: hidden;
  background: url("../images/courses_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 60px 0;
}

@media only screen and (min-width: 1024px) {
  .latest {
    padding: 150px 0;
  }
}
.latest-nav {
  margin-bottom: 30px;
}
.latest-nav h3 {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  flex-basis: 100%;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .latest-nav h3 {
    font-size: 60px;
  }
}
.latest-info {
  flex-basis: 100%;
}

.latest-info-nav {
  position: relative;
}
.latest-info-nav img {
  max-width: 100%;
}

.latest-info-nav:hover .latest-info-nav-el {
  display: block;
}

.latest-info-nav-el {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(24, 21, 25, 0.8);
}
.latest-info-nav-el a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

.latest-info-block-nav h3 {
  font-size: 22px;
  color: #555252;
  font-family: "Open Sans";
  text-transform: capitalize;
  font-weight: 600;
}

.latest-info-block {
  background-color: #fff;
  padding: 15px;
}

.latest-info-block-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.latest-info-block-text span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.latest-info-block-text span i {
  font-size: 14px;
  color: #555252;
}
.latest-info-block-text span p {
  font-size: 14px;
  color: #555252;
  font-family: "Open Sans";
  text-transform: capitalize;
}

.latest-info-block-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.latest-info-block-link a {
  text-decoration: none;
  background-color: #ff6600;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 5px;
  border-radius: 5px;
  flex-basis: 45%;
  text-align: center;
}

.gallery {
  min-height: 400px;
  overflow: hidden;
  padding: 60px 0;
}

@media only screen and (min-width: 1024px) {
  .gallery {
    padding: 150px 0;
  }
}
.gallery-nav {
  margin-bottom: 30px;
}
.gallery-nav h3 {
  font-size: 30px;
  color: #555252;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 700;
  flex-basis: 100%;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .gallery-nav h3 {
    font-size: 60px;
  }
}
.gallery-info {
  position: relative;
  flex-basis: 100%;
  text-align: center;
}
.gallery-info img {
  max-width: 100%;
}

.gallery-info-el {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(24, 21, 25, 0.8);
}

.gallery-info-el-block {
  line-height: 30px;
  padding: 10px 8px 0 8px;
  border: 1px solid #fff;
  font-size: 40px;
  color: #fff;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */