

.gallery{
      min-height: 400px;
      overflow: hidden;
      padding: 60px 0;
}

@media only screen and (min-width: 1024px) {
      .gallery{
            padding: 150px 0;
      }
}

.gallery-nav{
      margin-bottom: 30px;
      h3{
            font-size: 30px;
            color: #555252;
            font-family: 'Roboto Slab';
            text-transform: uppercase;
            font-weight:700;
            flex-basis: 100%;
            text-align: center;
      }
}

@media only screen and (min-width: 1024px) {
      .gallery-nav{
            h3{
                  font-size: 60px;
            }
      }
}

.gallery-info{
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      img{
            max-width: 100%;
      }
      &:hover{
            .gallery-info-el{
                  display: block;
            }
      }
}



.gallery-info-el{
      padding: 100px 0;
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(24, 21, 25, 0.8);
      z-index: 3;
}

.gallery-info-el-block{
      line-height: 30px;
      padding: 10px 8px 0 8px;   
      border: 1px solid #fff;
      font-size: 40px;
      color: #fff;
      display: inline-block;
      &:hover{
            background-color: #ff6600;
      }
}


.gallery-info-el-block-el{
      margin-bottom: 5px;
}